  [ GroupByCols ]
        TENANTNAME
        MEMBER
        DBPARTITIONNUM
        APPLICATION_HANDLE
        UOW_ID
        EDU_ID
        ACTIVITY_ID
        AGENT_TID
        EXECUTABLE_ID
        STANDBY_ID
        LATCH_NAME
        TBSP_NAME
        TBSP_ID
        TABSCHEMA
        TABNAME

[NoDiffValues]
        MEMBER
        DBPARTITIONNUM
        COORD_MEMBER
        COORD_PARTITION_NUM
        CATALOG_PARTITION
        #
        # handles + IDs
        APPLICATION_HANDLE
        CLIENT_PID
        WORKLOAD_OCCURRENCE_ID
        UOW_ID
        ACTIVITY_ID
        PARENT_UOW_ID
        PARENT_ACTIVITY_ID
        AGENT_TID
        SMP_COORDINATOR
        NESTING_LEVEL
        INVOCATION_ID
        ROUTINE_ID
        SERVICE_CLASS_ID
        DATABASE_WORK_ACTION_SET_ID
        DATABASE_WORK_CLASS_ID
        SERVICE_CLASS_WORK_ACTION_SET_ID
        SERVICE_CLASS_WORK_CLASS_ID
        WL_WORK_ACTION_SET_ID
        WL_WORK_CLASS_ID
        EDU_ID
        DB2_PROCESS_ID
        TID
        KTID
        #
        # Connections + agents
        CONNECTIONS_TOP
        TOTAL_CONS
        TOTAL_SEC_CONS
        NUM_AGENTS
        NUM_ASSOC_AGENTS
        NUM_COORD_AGENTS
        NUM_POOLED_AGENTS
        COORD_AGENTS_TOP
        AGENTS_TOP
        ASSOCIATED_AGENTS_TOP
        APPLS_CUR_CONS
        APPLS_IN_DB2
        #
        # MAX / MIN values
        MAX_COORD_STMT_EXEC_TIME
        #
        # sizes
        LOCK_LIST_IN_USE
        SORT_HEAP_ALLOCATED
        SORT_HEAP_TOP
        SORT_SHRHEAP_ALLOCATED
        SORT_SHRHEAP_TOP
        STATS_CACHE_SIZE
        #
        # ACTIVE columns
        ACTIVE_HASH_GRPBYS_TOP
        ACTIVE_HASH_JOINS_TOP
        ACTIVE_OLAP_FUNCS_TOP
        ACTIVE_PEAS
        ACTIVE_PEAS_TOP
        ACTIVE_PEDS
        ACTIVE_PEDS_TOP
        ACTIVE_SORT_CONSUMERS
        ACTIVE_SORT_CONSUMERS_TOP
        ACTIVE_SORTS
        ACTIVE_SORTS_TOP
        ACTIVE_COL_VECTOR_CONSUMERS
        ACTIVE_COL_VECTOR_CONSUMERS_TOP
        ACTIVE_HASH_JOINS
        ACTIVE_OLAP_FUNCS
        SHR_WORKSPACE_ACTIVE
        SHR_WORKSPACE_INACTIVE
        #
        # miscellaneous
        IS_SYSTEM_APPL
        NUM_LOCKS_HELD
        NUM_LOCKS_WAITING
        SORT_CONSUMER_HEAP_TOP
        SORT_CONSUMER_SHRHEAP_TOP
        QUERY_ACTUAL_DEGREE
        SQL_REQS_SINCE_COMMIT
        STMT_PKG_CACHE_ID
        NUM_ROUTINES
        #
        # HADR
        STANDBY_ID
        HEARTBEAT_INTERVAL
        HADR_TIMEOUT
        TIME_SINCE_LAST_RECV
        PEER_WAIT_LIMIT
        HADR_LOG_GAP
        PRIMARY_LOG_PAGE
        STANDBY_LOG_PAGE
        LOG_HADR_WAIT_CUR
        STANDBY_REPLAY_LOG_PAGE
        STANDBY_RECV_REPLAY_GAP
        STANDBY_RECV_BUF_SIZE
        STANDBY_SPOOL_LIMIT
        PEER_WINDOW
        # 
        # logging
        TOTAL_LOG_AVAILABLE
        TOTAL_LOG_USED
        SEC_LOG_USED_TOP
        TOT_LOG_USED_TOP
        SEC_LOGS_ALLOCATED
        APPLID_HOLDING_OLDEST_XACT
        LOG_TO_REDO_FOR_RECOVERY
        LOG_HELD_BY_DIRTY_PAGES
        FIRST_ACTIVE_LOG
        LAST_ACTIVE_LOG
        CURRENT_ACTIVE_LOG
        CURRENT_ARCHIVE_LOG
        METHOD1_NEXT_LOG_TO_ARCHIVE
        METHOD1_FIRST_FAILURE
        METHOD2_NEXT_LOG_TO_ARCHIVE
        METHOD2_FIRST_FAILURE
        LOG_CHAIN_ID
        # CURRENT_LSO
        CURRENT_LSN
        OLDEST_TX_LSN
        NUM_LOGS_AVAIL_FOR_RENAME
        NUM_INDOUBT_TRANS
        #
        # tablespaces + tables
        TAB_FILE_ID
        TBSP_PAGE_SIZE
        TBSP_EXTENT_SIZE
        TBSP_PREFETCH_SIZE
        TBSP_CUR_POOL_ID
        TBSP_NEXT_POOL_ID
        TBSP_USING_AUTO_STORAGE
        TBSP_AUTO_RESIZE_ENABLED
        TBSP_ID
        INDEX_TBSP_ID
        LONG_TBSP_ID

